/* experiences.css */

#projects {
    margin-left: 180px;
    padding: 50px;
    color: #c0c0c0;
    background-color: #1a1a2e;
    
}

#projects h2 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #1f1f3d;
    border-radius: 10px;
}

.projects-date {
    width: 100px; /* Adjust width as necessary */
    text-align: right;
    color: #7f8c8d;
    font-weight: bold;
    margin-right: 20px;
}

.projects-content {
    flex: 1;
}

.projects-content h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin: 0 0 10px;
}

.projects-content h3 a {
    text-decoration: none;
    color: #ffffff;
}

.projects-content p {
    color: #c0c0c0
}


/* Remove underline and change link color */
.project-link, /* Ensures the outer link doesn't have styling issues */
.project-content a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the same color as surrounding text */
}

.project-content a:visited {
    color: inherit; /* Ensures the color doesn't change when visited */
}

.project-content a:hover {
    color: #ffffff; /* Optional: Change color on hover if desired */
}


.project-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    display: block; /* Allow anchor to wrap around the div */
}

.project-link .experience {
    padding: 20px;
    border: 2px solid transparent; /* Initially invisible border */
    border-radius: 10px;
    transition: border-color 0.3s ease; /* Smooth transition for the border color */
}

.project-link:hover .experience {
    border-color: #ffffff; /* Change border to white on hover */
    cursor: pointer;
}
