* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    text-align: center;
    padding: 100px 20px;
    background: #333;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header .btn {
    background: #9370DB;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

#about {
    text-align: center;
    color: #fff
}


#experiences {
    margin-left: 180px;
    padding: 50px;
    height: 100vh;
    background-color: #f0f0f0; /* Optional: Add a different background color */
}


/* Move the button down off the text */
.button-container {
    margin-top: 40px; /* Adjust this value to move the button lower */
    text-align: center; /* Center the button */
}



.contact-links a {
    display: inline-block;
    margin: 0 10px;
    color: #ffff;
    text-decoration: none;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}




/* Vertical Side Bar */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #333; /* Change side bar colour */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu-link.active {
    background-color: #9370DB; /* Active section color */
    color: #fff;
}

.menu-link:hover {
    background-color: #555;
}

section {
    margin-left: 180px; /* Offset content to accommodate menu */
    padding: 50px;
    height: 100vh;
}


html {
    scroll-behavior: smooth;
}
